In [1]:
import requests
import pandas as pd

In [2]:
# Ler os dados
file_path = '../../data/lending_data.csv'
df = pd.read_csv(file_path)

In [ ]:
# Linhas aleatórias do dataframe apenas para ter um exemplo de input
input_df = df.sample(10)

In [4]:
input_df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
11185,11186,160000.0,2,5,2,40,0,0,0,0,...,123733.0,123275.0,122624.0,6000.0,4370.0,4400.0,4470.0,4420.0,6350.0,0
9854,9855,200000.0,2,2,2,32,-1,-1,-1,-1,...,1140.0,293.0,0.0,1173.0,912.0,1140.0,293.0,0.0,308.0,0
23476,23477,480000.0,2,1,2,32,-2,-2,-2,-2,...,52177.0,54005.0,53853.0,40000.0,23479.0,52209.0,54005.0,54500.0,42321.0,0
13138,13139,140000.0,2,1,1,32,0,0,0,0,...,40894.0,39229.0,40679.0,5650.0,1650.0,2007.0,1500.0,2100.0,1500.0,0
8574,8575,150000.0,2,1,1,32,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
28632,28633,100000.0,2,3,1,41,0,0,0,0,...,69786.0,68116.0,62652.0,2548.0,2687.0,2997.0,2147.0,2369.0,2434.0,0
21139,21140,210000.0,1,1,1,35,-1,-1,-1,-1,...,0.0,0.0,635.0,0.0,775.0,0.0,0.0,635.0,0.0,0
4443,4444,180000.0,1,2,1,47,0,0,0,0,...,98738.0,127382.0,155470.0,6000.0,6000.0,5000.0,30000.0,30000.0,20000.0,0
23932,23933,20000.0,1,2,2,21,0,0,0,0,...,8350.0,7500.0,8500.0,1700.0,1174.0,4000.0,150.0,1000.0,0.0,0
23177,23178,30000.0,2,3,1,46,0,0,0,0,...,28630.0,25087.0,25342.0,1500.0,2000.0,2390.0,1000.0,1000.0,2000.0,0

In [5]:
# Retiramos o target (default.payment.next.month) dos dados, para termos o input que o nosso modelo está à espera 
input_data = input_df.drop("default.payment.next.month", axis=1)
input_data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
11185,11186,160000.0,2,5,2,40,0,0,0,0,...,124283.0,123733.0,123275.0,122624.0,6000.0,4370.0,4400.0,4470.0,4420.0,6350.0
9854,9855,200000.0,2,2,2,32,-1,-1,-1,-1,...,912.0,1140.0,293.0,0.0,1173.0,912.0,1140.0,293.0,0.0,308.0
23476,23477,480000.0,2,1,2,32,-2,-2,-2,-2,...,23479.0,52177.0,54005.0,53853.0,40000.0,23479.0,52209.0,54005.0,54500.0,42321.0
13138,13139,140000.0,2,1,1,32,0,0,0,0,...,39505.0,40894.0,39229.0,40679.0,5650.0,1650.0,2007.0,1500.0,2100.0,1500.0
8574,8575,150000.0,2,1,1,32,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28632,28633,100000.0,2,3,1,41,0,0,0,0,...,70814.0,69786.0,68116.0,62652.0,2548.0,2687.0,2997.0,2147.0,2369.0,2434.0
21139,21140,210000.0,1,1,1,35,-1,-1,-1,-1,...,775.0,0.0,0.0,635.0,0.0,775.0,0.0,0.0,635.0,0.0
4443,4444,180000.0,1,2,1,47,0,0,0,0,...,94895.0,98738.0,127382.0,155470.0,6000.0,6000.0,5000.0,30000.0,30000.0,20000.0
23932,23933,20000.0,1,2,2,21,0,0,0,0,...,12874.0,8350.0,7500.0,8500.0,1700.0,1174.0,4000.0,150.0,1000.0,0.0
23177,23178,30000.0,2,3,1,46,0,0,0,0,...,27177.0,28630.0,25087.0,25342.0,1500.0,2000.0,2390.0,1000.0,1000.0,2000.0

# FastAPI

In [14]:
# Input de dados esperado
records = input_data.to_dict(orient="records")
request_dict = records[0]
request_dict

{'ID': 11186,
 'LIMIT_BAL': 160000.0,
 'SEX': 2,
 'EDUCATION': 5,
 'MARRIAGE': 2,
 'AGE': 40,
 'PAY_0': 0,
 'PAY_2': 0,
 'PAY_3': 0,
 'PAY_4': 0,
 'PAY_5': 0,
 'PAY_6': 0,
 'BILL_AMT1': 147977.0,
 'BILL_AMT2': 149890.0,
 'BILL_AMT3': 124283.0,
 'BILL_AMT4': 123733.0,
 'BILL_AMT5': 123275.0,
 'BILL_AMT6': 122624.0,
 'PAY_AMT1': 6000.0,
 'PAY_AMT2': 4370.0,
 'PAY_AMT3': 4400.0,
 'PAY_AMT4': 4470.0,
 'PAY_AMT5': 4420.0,
 'PAY_AMT6': 6350.0}

In [17]:
# Fazer pedido à app com os inputs
response = requests.post("http://127.0.0.1:5002/default_payment", json=request_dict)

In [18]:
# recebemos uma resposta com a previsão
response.json()

{'prediction': 0}